---
import ReactCounter from "../components/react/ReactCounter.jsx";
import VueCounter from "../components/vue/VueCounter.vue";

import CustomLayout from "../layouts/CustomLayout.astro";
---
<CustomLayout title="React y Vue se casan">
  <div class="container-bodorrio">
    <VueCounter client:visible></VueCounter>
    <ReactCounter client:visible></ReactCounter>
  </div>
</CustomLayout>

<style is:inline>
  .container-bodorrio {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    height: 200vh
  }
</style>