---
import ReactCounter from "../components/react/ReactCounter.jsx";
import VueCounter from "../components/vue/VueCounter.vue";

import CustomLayout from "../layouts/CustomLayout.astro";
---
<CustomLayout title="React y Vue se casan">
  <div class="container-bodorrio">
    <VueCounter initialCount="11" client:load></VueCounter>
    <ReactCounter initialCount={11} client:load></ReactCounter>
  </div>
</CustomLayout>

<style is:inline>
  .container-bodorrio {
    display: flex; 
    justify-content: center; 
    align-items: start; 
    height: 200vh
  }
</style>