---
interface Props {
  name: string
  surname?: string
}

const defaultSurname = 'Pérez'

const getSurname = async () => {
  try {
    const response = await fetch("https://randomuser.me/api/");
    const data = await response.json();
    const randomUser = data.results[0];
    return randomUser.name.last;
  }
  catch (e) {
    console.log(e)
    return defaultSurname;
  }
}

const { name = 'Bernabé', surname = getSurname()} =  Astro.props


---
<h1>Hola malandriner {name} {surname}!</h1>