---
interface Props {
  name: string
}

const { name = 'Bernabé' } =  Astro.props

const response = await fetch("https://randomuser.me/api/");
const data = await response.json()
const randomUser = data.results[0];
---
<h1>Hola malandriner {name} {randomUser.name.last}!</h1>