---
interface Props {
  name: string
  surname?: string
}

const response = await fetch("https://randomuser.me/api/");
const data = await response.json()
const randomUser = data.results[0];

const { name = 'Bernabé', surname = randomUser.name.last } =  Astro.props

---
<h1>Hola malandriner {name} {surname}!</h1>